[submodule "ResourcePackager/Dependencies/assimp"]
	path = ResourcePackager/Dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "CGE/Dependencies/soloud"]
	path = CGE/Dependencies/soloud
	url = https://github.com/jarikomppa/soloud
